<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AXCPIASA.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="AXC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AXCPIASA.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AXC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AXC.My.MySettings.WebService" connectionString="http://192.168.1.181/AXCPiasaMP/wsAXCMP.asmx" />
    <add name="AXC.My.MySettings.ConnectionString" connectionString="Data Source=192.168.1.183;Persist Security Info=True;User ID=SWAXC;Password=D5cejXsp$1"
      providerName="System.Data.SqlClient" />
    <add name="AXCPIASA.Settings.ConnectionString" connectionString="Data Source=192.168.1.183;Persist Security Info=True;User ID=SWAXC;Password=D5cejXsp$1" />
    <add name="AXCPIASA.Settings.WebService" connectionString="http://192.168.1.181/AXCPiasaMP/wsAXCMP.asmx" />
  </connectionStrings>
  <appSettings>
    <add key="NombreSistema" value="SISTEMA DE CONTROL DE ALMACENES" />
    <add key="Adaptado" value="PIASA" />
    <add key="Version" value="v1.0" />
    <add key="Titulo" value="SISTEMA DE CONTROL DE ALMACENES" />
    <add key="Modo" value="S" />
    <add key="PassConfig" value="3yTlO71Vop4=" />
    <add key="Plataforma" value="SQL Server 2008" />
    <add key="BaseDatosPT" value="AXCPiasaPT" />
    <add key="DSN" value="AXC" />
    <add key="Servidor" value="192.168.100.22\AXCSERVER" />
    <add key="BaseDatosBI" value="AXCPiasaBI" />
    <add key="BaseDatos" value="AXCPiasaMP" />
    <add key="Usuario" value="sa" />
    <add key="Password" value="kNmw+tK7zXJto6IS6nOPEw==" />
    <add key="Puerto" value="1001" />
    <add key="Puntero" value="1" />
    <add key="Impresora" value="" />
    <!--
    <add key="BaseDatosPT" value="AXCPiasaPT"/>
    <add key="DSN" value="AXC"/>
    <add key="Servidor" value="192.168.1.111"/>
    <add key="BaseDatosBI" value="AXCPiasaBI"/>
    <add key="BaseDatos" value="AXCPiasaMP"/>
    <add key="Usuario" value="sa"/>
    <add key="Password" value="Wp2sj39RDeQWRkJlNBrPJQ=="/>
    <add key="Puerto" value="1001"/>
    <add key="Puntero" value="1"/>
    <add key="Impresora" value=""/>-->
    <!--DATOS DE CONEXION A SAP QAS-->
    <add key="SAPuser" value="portalaxc" />
    <add key="SAPpass" value="123axcAXC" />
    <add key="SAPsystemId" value="ECQ" />
    <add key="SAPclient" value="220" />
    <add key="SAPname" value="FYMQA" />
    <add key="SAPhost" value="192.168.100.19" />
    <add key="SAPsystemNumber" value="02" />
    <!-- DATOS DE CONEXION A SAP
    <add key="SAPuser" value="soporteaxc"/>
    <add key="SAPpass" value="sopAXC123*"/>
    <add key="SAPsystemId" value="ECP"/>
    <add key="SAPclient" value="320"/>
    <add key="SAPname" value="FYMERP"/>
    <add key="SAPhost" value="192.168.100.20"/>
    <add key="SAPsystemNumber" value="04"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <AXCPIASA.Settings>
      <setting name="Licencia" serializeAs="String">
        <value>NewLicencia</value>
      </setting>
      <setting name="Estacion" serializeAs="String">
        <value>ADMIN510</value>
      </setting>
      <setting name="Impresora" serializeAs="String">
        <value />
      </setting>
    </AXCPIASA.Settings>
    <AXC.My.MySettings>
      <setting name="Licencia" serializeAs="String">
        <value>NewLicencia</value>
      </setting>
      <setting name="Estacion" serializeAs="String">
        <value>ADMIN510</value>
      </setting>
    </AXC.My.MySettings>
  </userSettings>
  <applicationSettings>
    <AXCPIASA.Settings>
      <setting name="AXC_wsAXCMP_wsAXCMP" serializeAs="String">
        <value>http://192.168.1.181/axcPiasaMP/wsAXCMP.asmx</value>
      </setting>
    </AXCPIASA.Settings>
    <AXC.My.MySettings>
      <setting name="AXC_wsAXCMP_wsAXCMP" serializeAs="String">
        <value>http://192.168.1.181/axcPiasaMP/wsAXCMP.asmx</value>
      </setting>
    </AXC.My.MySettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/Custom Palette #1</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="57,66,100" />
                <SvgColor Name="Paint High" Value="50,58,89" />
                <SvgColor Name="Paint Shadow" Value="50,58,88" />
                <SvgColor Name="Paint Deep Shadow" Value="68,79,118" />
                <SvgColor Name="Brush" Value="White" />
                <SvgColor Name="Brush Light" Value="128,139,180" />
                <SvgColor Name="Brush High" Value="White" />
                <SvgColor Name="Brush Major" Value="38,45,71" />
                <SvgColor Name="Brush Minor" Value="43,50,79" />
                <SvgColor Name="Accent Paint" Value="53,170,220" />
                <SvgColor Name="Accent Paint Light" Value="73,84,123" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="171,224,255" />
                <SvgColor Name="Key Paint" Value="36,43,67" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="121,134,181" />
                <SvgColor Name="Red" Value="252,109,119" />
                <SvgColor Name="Green" Value="83,186,122" />
                <SvgColor Name="Blue" Value="113,168,243" />
                <SvgColor Name="Yellow" Value="250,177,36" />
                <SvgColor Name="Black" Value="229,229,229" />
                <SvgColor Name="Gray" Value="99,111,153" />
                <SvgColor Name="White" Value="50,58,88" />
                <SvgColor Name="altRed" Value="226,54,66" />
                <SvgColor Name="altGreen" Value="60,146,92" />
                <SvgColor Name="altBlue" Value="58,116,194" />
                <SvgColor Name="altYellow" Value="252,169,10" />
                <SvgColor Name="altBlack" Value="122,122,122" />
                <SvgColor Name="altGray" Value="190,190,190" />
                <SvgColor Name="altWhite" Value="White" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>